<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Home - Shopme Admin')}"></head>
<body>
	<div class="container-fluid text-center">
		<div>
			<img th:src="@{/images/ShopmeAdminBig.png}" style="max-width: 350px; margin: 0 auto" />
		</div>
		
		<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-warning">You've been logout</p>
			</div>
			<div class="border border-secondary rounded p-3">
				<p>Access to Shopme Control Panel</p>
				<p>
					<input type="email" name="email" class="form-control" placeHolder="E-mail" required/>
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeHolder="Password" required/>
				</p>
				<p>
					<input type="checkbox" name="remember-me"/> Remember me
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary"> 
				</p>
			</div>
		</form>
		
		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
</body>
</html>