<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_head('Categories - Shopme Admin', 'none')}"></head>
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}"></div>
		
		<div>
			<h2>Manage Categories</h2>
			<a th:href="@{/categories/new}">Create new categories</a>
		</div>
		
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/categories/page/1}" class="form-inline m-3">
				Filer:&nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<input type="submit" value="Search" class="btn btn-primary" />
				&nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" />
			</form>
		</div>
		
		<div> 
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Category Image</th>
						<th>Category Name</th>
						<th>Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td>[[${category.id}]]</td>
						<td class="text-center">
							<span th:if="${category.image == 'default.png'}" class="fa-solid fa-box-open" style="width : 75px"></span>
							<img th:if="${category.image != 'default.png'}" th:src="@{${category.imagePath}}" 
								style="width: 75px"/>
						</td>
						<td>[[${category.name}]]</td>
						<td>[[${category.alias}]]</td>
						<td>
							<div th:replace="~{fragments :: status(${category.enabled}, 'category', '/categories', ${category.id})}" />
						</td>
						<td><a class="fa-solid fa-pen-to-square icon-green fa-2x" 
						th:href="@{'/categories/update/' + ${category.id}}" title="Update this category"></a> 
						&nbsp; 
						<a class="fa-solid fa-trash fa-2x icon-dark link-delete"
						th:href="@{'/categories/delete/' + ${category.id}}" th:id="${category.id}" title="Delete this category"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing categories # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No category to display</span>
		</div>
		
		<nav th:if="${totalItems > 0}">
  			<div>
    			<ul class="pagination justify-content-center">
      				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
      					<a class="page-link" th:href="@{'/categories/page/1' + ${keyword != null ? '?keyword=' + keyword : ''} }">
						First
						</a>      				
					</li>
      				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
      					<a class="page-link" th:href="@{'/categories/page/' + ${currentPage - 1} + ${keyword != null ? '?keyword=' + keyword : ''} }">
						Previous
						</a>   
      				</li>
      				
      				<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
      					 th:each="i : ${#numbers.sequence(1, totalPages)}">
      					<a class="page-link" th:href="@{'/categories/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''} }">
						[[${i}]]
						</a>
      				</li>
      				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
      					<a class="page-link" th:href="@{'/categories/page/' + ${currentPage + 1} + ${keyword != null ? '?keyword=' + keyword : ''} }">
						Next
						</a>
      				</li>
      				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
      					<a class="page-link" th:href="@{'/categories/page/' + ${totalPages} + ${keyword != null ? '?keyword=' + keyword : ''} }">
						Last
						</a>
      				</li>
    			</ul>
  			</div>
		</nav>
		
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					
					<div class="modal-footer">
						<a class="btn btn-success" id="yesButton" href="">Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				link = $(this);
				id = link.attr("id");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text(" Are you sure to category " + id +" ?");
				$("#confirmModal").modal();
			});
		});
		
		function clearFilter() {
			window.location = "[[@{/categories}]]";
		}
	</script>
</body>
</html>