<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}"></head>
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}" ></script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}"></div>
		
		<div>
			<h2>Create | Edit Products</h2>
		</div>
		
		<form th:action="@{/products/save}" method="post" 
			enctype="multipart/form-data"
			onsubmit="return checkProductUnique(this)"
			th:object="${product}">
			<input type="hidden" th:field="*{id}" />
			<input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}" />
			<ul class="nav nav-tabs" id="myTab" role="tablist">
  				<li class="nav-item">
    				<a class="nav-link active"  data-toggle="tab" href="#overview" role="tab">Overview</a>
  				</li>
  				<li class="nav-item">
    				<a class="nav-link"  data-toggle="tab" href="#description" role="tab" >Description</a>
  				</li>
  				<li class="nav-item">
    				<a class="nav-link"  data-toggle="tab" href="#images" role="tab">Images</a>
  				</li>
  				<li class="nav-item">
    				<a class="nav-link"  data-toggle="tab" href="#details" role="tab">Details</a>
  				</li>
  				<li class="nav-item">
    				<a class="nav-link"  data-toggle="tab" href="#shipping" role="tab">Shipping</a>
  				</li>
			</ul>
			<div class="tab-content">
  				<div class="tab-pane active p-3" id="overview" role="tabpanel" >
  					<div th:replace="~{products/product_overview :: content}"></div>
  				</div>
  				<div class="tab-pane" id="description" role="tabpanel" >
					<div th:replace="~{products/product_description :: content}"></div>
				</div>
  				<div class="tab-pane" id="images" role="tabpanel" >
					<div th:replace="~{products/product_images :: content}"></div>
				</div>
  				<div class="tab-pane p-3" id="details" role="tabpanel" >
					<div th:replace="~{products/product_details :: content}"></div>
					<div>
						<input type="button" class="btn btn-secondary" value="Add More Detail" 
							onclick="addNextDetailSection()"/>
					</div>
				</div>
  				<div class="tab-pane p-3" id="shipping" role="tabpanel" >
					<div th:replace="~{products/product_shipping :: content}"></div>
				</div>
			</div>
			<div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3" />
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
				</div>
			</div>
		</form>
		
		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Warning</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="~{fragments :: footer}"></div>
	</div>
</body>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";
	var extraImagesCount = 0;
	dropdownBrands = $("#brand");
	dropdownCategories = $("#category");
	
	defaultImageThumbnailSrc = "[[@{/images/image-thumbnail.png}]]";
	
	$(document).ready(function() {
		
		$("#shortDescription").richText();
		$("#fullDescription").richText();
		
		dropdownBrands.change(function() {
			dropdownCategories.empty();
			getCategories();
		});	
		
		getCategoriesForNewForm();
		
		$("input[name='extraImage']").each(function(index) {
			extraImagesCount++;
			$(this).change(function() {
				showExtraImageThumbnail(this, index);
			});
		});
		
		$("a[name='linkRemoveExtraImage']").each(function(index) {
			$(this).click(function() {
				removeExtraImage(index);
			});
		});
	});
	
	function getCategoriesForNewForm() {
		catIdField = $("#categoryId");
		
		editMode = false;
		
		if (catIdField.length) {
			editMode = true;
		}
		
		if (!editMode) getCategories();
	}
	
	function showExtraImageThumbnail(fileInput, index) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#extraThumbnail" + index).attr("src", e.target.result);
		};
		
		reader.readAsDataURL(file);
		
		if (index >= extraImagesCount - 1) {
			addNextExtraImageSection(index + 1);
		}
		
	}
	
	function addNextExtraImageSection(index) {
		htmlExtraImage = `
			<div class="col border m-3 p-2" id="divExtraImage${index}">
			<div id="extraImageHeader${index}"><label>Extra Image #${index + 1}:</label></div>
			<div class="m-3">
				<img id="extraThumbnail${index}" alt="extra image #${index + 1} preview" class="img-fluid"
					src="${defaultImageThumbnailSrc}" />
			</div>
			<div>
				<input type="file"  name="extraImage" 
					onchange="showExtraImageThumbnail(this, ${index})"
					accept="image/png, image/jpeg"/>
			</div>
		</div>
		`;
		
		htmlLinkRemove = `
		<a class="btn fas fa-times-circle fa-2x icon-dark float-right" 
			href="javascript:removeExtraImage(${index - 1})"
			title="remove this image"></a>
		`;
		
		$("#divProductImages").append(htmlExtraImage);
		$("#extraImageHeader" + (index - 1)).append(htmlLinkRemove);
		
		extraImagesCount++;

	}
	
	function removeExtraImage(index) {
		$("#divExtraImage" + index).remove();
		extraImageCount--;
	}
	
	function getCategories() {
		brandId = dropdownBrands.val();
		url = brandModuleURL + "/" + brandId + "/categories";
		$.get(url, function(responseJson) {
			$.each(responseJson, function(index, category) {
				$("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
			});
		});
	}
	
	function checkProductUnique(form) {
		url = "[[@{/products/check_unique}]]";
		
		var productName = $("#name").val();
		var productId = $("#id").val();
		var csrfValue = $("input[name='_csrf']").val();
		
		params = {id: productId, name: productName, _csrf: csrfValue};
		
		
		$.post(url, params, function(response) {
			if (response === "Unique") {
				form.submit();
			} else if (response === "Duplicated") {
				showModalDialog("Warning",
						"Please try another name for product");
			} else {
				showModalDialog("Error", "Unknow response from sever");
			}
		}).fail(function() {
			showModalDialog("Error", "Could not connect to sever");
		});
		
		return false;
	}
	
	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/product_form_detail.js}"></script>
</html>